.content {
    padding: 1em 2em;
    gap: .5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movieTitle {
    font-size: 2.1em;
    line-height: 1.5;
}

.goBackBtn {
    font-size: 1.5em;
    gap: .2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieInfo {
    width: 100%;
    display: flex;
    column-gap: 2em;
    justify-content: start;
}

.posterItem {
    /* flex-grow: 1; */
    max-width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moviePoster {
    /* width: 25%; */
}

.infoItem {
    width: 70%;
    /* flex-grow: 9; */
    display: flex;
    flex-direction: column;    
}

.infoRow {
    width:   100%;
    display: flex;    
}

.infoTitle{
    /* flex-grow: 1; */
    width: 20%;
    font-weight: 600;

}

.valueItem {
    flex-grow: 9;
}

.horizontalRule {
    width: 100%;
}


