#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  background-image: url('../assets/img/main-background.jpg');
  background-repeat: repeat;
  /* text-align: center; */
  /* border: 1px dotted red; */
}

.main-container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
